version: '3.8'

services:
  # 1. Frontend (React + Vite Proxy)
  frontend:
    image: node:20-alpine
    container_name: react_frontend
    working_dir: /app
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: sh -c "npm install && npm run dev -- --host"
    ports:
      - "8090:5173" # Доступ к сайту через http://IP:8090
    depends_on:
      - api
    networks:
      - ai_platform_network

  # 2. Backend (FastAPI)
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fastapi_backend
    command: uvicorn api:app --host 0.0.0.0 --port 8000
    # Порт 8000 внутри сети (доступен для Frontend через http://api:8000)
    # Если нужно тестировать API снаружи, можно раскомментировать:
    # ports:
    #   - "8000:8000" 
    env_file: .env
    depends_on:
      - temporal-server
    networks:
      - ai_platform_network
    volumes:
      - ./shared_data:/shared_data
      - ./:/app

  # 3. Worker (Python Temporal Worker)
  ai-worker-kp:
    build: .
    container_name: agent_kp_worker
    command: python worker.py
    env_file: .env
    environment:
      - RUST_LOG=temporalio_sdk_core=error # Скрыть WARN логи Temporal
    depends_on:
      - temporal-server
    networks:
      - ai_platform_network
    volumes:
      - ./shared_data:/shared_data
      - ./:/app
    deploy:
      resources:
        limits:
          memory: 8G
        reservations:
          memory: 4G
          # devices:
          #   - driver: nvidia
          #     count: 1
          #     capabilities: [gpu]
          # 4. Temporal Server
  temporal-server:
    image: temporalio/admin-tools:latest
    container_name: temporal_server
    entrypoint: [ "/bin/bash", "-c", "temporal server start-dev --ip 0.0.0.0" ]
    ports:
      - "7233:7233" # Порт для Worker'ов и Client'ов (gRPC)
      - "8233:8233" # Порт для Web UI (Temporal UI)
    networks:
      - ai_platform_network

networks:
  ai_platform_network:
    driver: bridge
