
python-dotenv
openai
python-docx
PyPDF2
temporalio

flask
fastapi
python-multipart
markdown
beautifulsoup4

sqlalchemy>=2.0

# Monitoring
prometheus-fastapi-instrumentator==7.0.0
python-json-logger

# Keycloak auth
python-jose[cryptography]
httpx
